@import "../../global.scss";
.intro {
  background-color: white;
  display: flex;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0.5;
    overflow: hidden;
    .imgContainer {
      height: 700px;
      width: 700px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      background-color: $mainColor;
      @include mobile {
        align-items: flex-start;
      }
      img {
        height: 90%;
        @include mobile {
          height: 60%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    .wrapper {
      display: flex;
      justify-content: center;
      padding-left: 50px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      position: relative;
      @include mobile {
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 30px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          color: red;
        }
        @include mobile {
          font-size: 20px;
        }
      }
      .iconSocial {
        display: flex;
        .icon {
          margin-right: 30px;
          font-size: 40px;
          margin-top: 20px;
          color: black;
        }
      }
      .nav_resume {
        a {
          text-decoration: none;
          .getResume {
            display: flex;
            align-items: center;
            margin-top: 30px;
            padding: 10px 30px;
            border-radius: 10px;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              @include mobile {
                padding: 8px 12px;
              }
            }
            span {
              font-size: 18px;
              font-weight: 600;
            }
          }
          .icon {
            font-size: 20px;
            margin-left: 5px;
          }
        }
      }

      .iconDown {
        font-size: 40px;
        color: black;
        position: absolute;
        bottom: 5%;
        left: 50%;
        @include mobile {
          display: none;
        }
        animation: arrowDown 2s infinite;
        @keyframes arrowDown {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}
